// color
$primary: #00B2AE;
$dark-primary: #01737F;
$white: #FFFFFF;
$dark: #5B5A5A;
$warning: #FF8A00;
$muted: #686868;
$background: $white;
$bg-soft: #F0F0F0;
$bg-form: #F4F4F4;

// font
$font-family: 'Poppins',
sans-serif;
$bold: 700;
$semibold: 600;
$medium: 500;
$regular: 400;