.el,
.eli {
  list-style-type: disc;
  position: relative;
}
:root {
	--white: #ffffff;
	--green-pastel: #1aaba9;
	--green-wa: #26d367;
	--blue-tele: #039be5;
	--bg-input: #f4f4f4;
	--abu-abu: #7a7a7a;
	--light-blue: #e5fffe;
	--txt-green-light: #00b2ae;
	--txt-green-dark: #0c747f;
	--green-pastel-2: #d3ffff;
	--dark-grey-2: #606060;
	--orange: #f89500;
	--fs-mobile-lg: 18px;
	--fs-mobile-md: 16px;
	--fs-mobile-sm: 14px;
}
.bg-f7 {
  background-color: #f7f7f7;
}
.text{
	width: 65%;
}
.bg-footer {
  background-color: var(--green-pastel);
}
.txt-white {
  color: var(--white);
}
.txt-light-blue {
  color: var(--light-blue);
}
.btn-cosult,
.btn-tele,
.btn-wa {
  color: var(--white);
  border-radius: 100px;
}
.btn-wa {
  background-color: var(--green-wa);
  width: 100%;
  transition: background-color 0.3s, color 0.3s;
}
.btn-tele {
  background-color: var(--blue-tele);
  width: 100%;
}
.btn-cosult {
  background-color: var(--orange);
  width: 70%;
  padding: 0p 5px 0;
}
.bg-white-custom {
  background-color: var(--white);
}
.bg-input {
  background-color: var(--bg-input);
  border: none;
}
.bg-light-blue {
  background-color: var(--light-blue);
}
.txt-green-dark {
  color: var(--txt-green-dark);
}
.txt-green-light {
  color: var(--txt-green-light);
}
.fw-6 {
  font-weight: 600;
}
.abu-abu {
  color: var(--abu-abu);
}
.el,
.eli,
.txt-green-pastel-2 {
  color: var(--green-pastel-2);
}
.bg-green-dark {
  background-color: var(--txt-green-dark);
}
.uel {
  margin: 0;
  padding-left: 1.2em;
}
.eli {
  margin-bottom: 10px;
}
.abu-abu-2 {
  color: var(--dark-grey-2);
}

@media (min-width:992px) {
	.img-section-2 {
		height: 400px !important;
	}
	.txt-section-4 {
		font-size: 18px !important;
	}
	.txt-child-section-4 {
		font-size: 16px;
	}
}

@media (max-width: 991.98px) {
	section.why {
			height: 100vh;
	}
	.tx-res {
		font-size: 22px !important;
	}
}

@media (max-width: 768.98px) {
	section.why .img-bg {
		right: -180px;
	}
	.tx-res {
		font-size: 16px !important;
	}
}

@media (min-width: 320px) and (max-width: 480px) {
	section.why .img-bg img {
		height: 100%;
	}

	.tx-res {
		font-size: 14px !important;
	}

	.img-section-2 {
		height: auto !important;
	}
}
